.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items {
  &-center {
    align-items: center;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }
}

.gap {
  &-10 {
    gap: 10px;
  }

  &-20 {
    gap: 20px;
  }
}

.column-gap {
  &-10 {
    column-gap: 10px;
  }

  &-20 {
    column-gap: 20px;
  }
}

.w {
  &-100 {
    width: 100%;
  }

  &-50 {
    width: 50%;
  }

  &-25 {
    width: 25%;
  }
}

.m {
  &l {
    &-0 {
      margin-left: 0 !important;
    }
  }
}

@media screen and (max-width: 768px) {

  .xs-flex-wrap {
    flex-wrap: wrap;
  }

  .xs-w {
    &-100 {
      width: 100%;
    }
  }
}
